body {
  background: black;
}

h1 {
  color: blue;
  text-align: center;
  font-size: x-large;
  font: arial;
}

p {
  color: blue;
  text-align: center;
  font-size: xx-large;
  font: comic;
}

h2 {
  color: red;
  font: arial;
}

ol {
  color: green;
  text-align: left;
  font-size: medium;
}

img {
  width: 50%;
  height: auto;
}
